<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

<!-- 메인 : 총 거래액 -->
<select id="totalOrderPrice" resultType="map" parameterType="map">
SELECT SUM(ORDER_PRICE)
FROM ORDERT
</select>

<!-- 메인 : 총 거래량 -->
<select id="countOrderAmount" resultType="map" parameterType="map">
SELECT COUNT(ORDER_ID)
FROM ORDERT
</select>

<!-- 메인 : 총 여행기 수 -->
<select id="countTravelAmount" resultType="map" parameterType="map">
SELECT COUNT(TRAVEL_NO)
FROM TRAVELBOARDT
</select>

<!-- 메인 : 총 회원수 -->
<select id="countUserAmount" resultType="map" parameterType="map">
SELECT COUNT(USER_ID)-1
FROM USERT
</select>

<!-- 차트 : 월별 최다 방문 여행지 -->
<select id="getTinfoChart" resultType="map" parameterType="map">
SELECT TO_CHAR(I.TINFO_CITY) "ranktinfoid", COUNT(B.TINFO_ID) "counttinfoid"
FROM TRAVELINFOT I, TRAVELBOARDT B
WHERE I.TINFO_ID = B.TINFO_ID
AND TO_CHAR(B.TRAVEL_DATE, 'YYYY/MM') = #{day}
GROUP BY I.TINFO_CITY
ORDER BY 2 DESC
</select>

<!-- 차트 : 월별 최다 판매자-->
<select id="getSellerChart" resultType="map" parameterType="map">
SELECT SELLER_ID "rankseller", COUNT(SELLER_ID) "countseller"
FROM ITEMT
WHERE ITEM_ID IN (SELECT ITEM_ID FROM ORDERT)
<!-- 월별...? -->
GROUP BY SELLER_ID
ORDER BY 2 DESC
</select>

<!-- 차트 : 월별 최다 거래 요일-->
<select id="getDayChart" resultType="map" parameterType="map">
SELECT TO_CHAR(ORDER_DATE, 'Day') "rankday", COUNT(ORDER_DATE) "countday"
FROM ORDERT
WHERE TO_CHAR(ORDER_DATE, 'YYYY/MM') = #{day}
GROUP BY ORDER_DATE
ORDER BY 2 DESC
</select>

<!-- 차트 : 월별 최다 거래 시간대-->
<select id="getTimeChart" resultType="map" parameterType="map">
SELECT TO_CHAR(ORDER_DATE, 'HH24') "ranktime", COUNT(ORDER_DATE) "counttime"
FROM ORDERT
WHERE TO_CHAR(ORDER_DATE, 'YYYY/MM') = #{day}
GROUP BY ORDER_DATE
ORDER BY 2 DESC
</select>

<!-- 차트 : 월별 총 거래액-->
<select id="getOrderPriceChart" resultType="map" parameterType="map">
SELECT SUM(ORDER_PRICE) "sumorder"
FROM ORDERT
WHERE TO_CHAR(ORDER_DATE, 'YYYY/MM') = #{day}
</select>

<!-- 차트 : 월별 총 거래량-->
<select id="getOrderIdChart" resultType="map" parameterType="map">
SELECT COUNT(ORDER_ID) "countorder"
FROM ORDERT
WHERE TO_CHAR(ORDER_DATE, 'YYYY/MM') = #{day}
</select>

<!-- 각 페이지 select -->
<select id="getManageProductList" resultType="product">
		SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
		 SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CHAR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		ORDER BY ITEM_ID DESC
		) A ) B WHERE RN BETWEEN #{first} AND #{last}
</select>

<select id="getManageOrderList" resultType="order">
		SELECT  ORDER_ID, 
				ORDER_CONDITION, 
				ORDER_EA,
				ITEM_ID,
				BUYER_ID,
				ORDER_DATE
			FROM ORDERT
	 	    ORDER BY ORDER_DATE DESC
</select>
<select id="getManageOrder" resultType="order">
	SELECT  ORDER_ID, 
			TO_CHAR(ORDER_DATE, 'YYYY/MM/DD') ORDER_DATE,
		   	ORDER_DELIVERY,
		   	ORDER_PRICE,
			ORDER_EA,
			ITEM_DELIVERYNO,
		   	ITEM_METHOD,
			USER_NAME,
			USER_PHONE,
			ORDER_POST,
			ORDER_ADDRESS
	   FROM ORDERT O, USERT U
	  WHERE O.BUYER_ID = U.USER_ID
	  		AND O.ORDER_ID = #{orderId}
</select>

<select id="getManagePartnerList" resultType="partner">
SELECT	PARTNER_ID,
			PARTNER_TITLE,      
			TO_CHAR(PARTNER_DATE, 'YYYY/MM/DD') PARTNER_DATE,    
			USER_ID,    
			TINFO_ID,
			PARTNER_CONDITION
	FROM	PARTNERT
	ORDER BY PARTNER_ID DESC
</select>

<select id="getManageTravelList" resultType="travelBoard">
	SELECT TRAVEL_NO,
			TRAVEL_TITLE,
			TRAVEL_DATE,
			TINFO_ID,
			USER_ID
	FROM TRAVELBOARDT
	ORDER BY TRAVEL_NO DESC
</select>

<select id="getManageNoticeList" resultType="notice">
	SELECT  NOTICE_ID,
			NOTICE_TITLE,
			TO_CHAR(NOTICE_DATE, 'MM/DD') NOTICE_DATE
	  FROM  NOTICET
	  ORDER BY NOTICE_ID DESC
</select>

<select id="getManageQnaList" resultType="qna">
	SELECT  QNA_ID,
			QNA_TITLE,
			QNA_CONTENT,
			TO_CHAR(QNA_DATE, 'MM/DD') QNA_DATE,
			USER_ID,
			QNA_ANSWER
	  FROM  QNAT
	  ORDER BY QNA_ID DESC
</select>
</mapper>