<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

<select id="getTinfoChart" resultType="map" parameterType="map">
select to_char(i.tinfo_city) "ranktinfoid", COUNT(b.tinfo_id) "counttinfoid"
from travelinfot i, travelboardt b
where i.tinfo_id = b.tinfo_id
and to_char(b.TRAVEL_DATE, 'yyyy/mm') = #{day}
GROUP BY i.tinfo_city
ORDER BY 2 DESC
</select>
</mapper>