<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cart">
<select id="getCartList" resultType="cart">
		SELECT 	ITEM_NAME,
				CART_ID,
				MY_ID,
				ITEM_Method,
				c.ITEM_ID as ITEM_ID,
				c.ITEM_EA as ITEM_EA,
				CART_DATE,
				ITEM_ORDERDETAIL,
				ITEM_CATEGORY,
				ITEM_CONDITION,
				ITEM_PRICE
		FROM CART c, ITEMT i
		WHERE (i.item_id = c.item_id 
		and MY_ID = #{myId})
		ORDER BY CART_DATE DESC
	</select>
	<select id="getCart" resultType="cart">
		 SELECT CART_ID,
				MY_ID,
				ITEM_ID,
				ITEM_EA,
				CART_DATE
		FROM CART c 
		WHERE CARD_ID = #{cartId}
	</select>
	<insert id="insertCart" parameterType="cart">
	<selectKey keyProperty="cartId" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(CART_ID),0)+1 FROM CART
	</selectKey>
	INSERT INTO CART
				(CART_ID,
				MY_ID,
				ITEM_ID,
				ITEM_EA,
				CART_DATE
	)
	VALUES ( #{cartId},				 		  
	 		  #{myId},
	 		  #{itemId},
	 		  #{itemEa},
	 		  sysdate
	)
	</insert>
	<update id="updateCart" parameterType="cart">
		UPDATE CART SET
				ITEM_EA = #{itemEa},
				CART_DATE = sysdate
				where CART_ID=#{cartId}
	</update>
	<delete id="deleteCart">
		DELETE FROM CART
		WHERE CART_ID = #{cartId} 
	</delete>
</mapper>