<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="joiner">
<select id="getJoinerList" resultType="joiner" parameterType="joiner"> 
      SELECT JOINER_ID, 
             TO_CHAR(JOINER_DATE, 'YYYY.MM.DD') JOINER_DATE,         
             USER_ID,   
             PARTNER_ID,
             JOINER_CONDITION
        FROM JOINERT
       WHERE PARTNER_ID = #{partnerId}
       ORDER BY JOINER_ID DESC 
</select>
<select id="getJoiner" resultType="joiner" parameterType="joiner"> 
      SELECT JOINER_ID            
            ,TO_CHAR(JOINER_DATE, 'YYYY.MM.DD') JOINER_DATE         
            ,USER_ID  
            ,PARTNER_ID
            ,JOINER_CONDITION
        FROM JOINERT
       WHERE JOINER_ID = #{joinerId}
</select>
<insert id="insertJoiner" parameterType="joiner">
   <selectKey keyProperty="joinerId" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(JOINER_ID), 0)+1 FROM JOINERT
	</selectKey>
   INSERT INTO JOINERT (
         JOINER_ID,
         JOINER_DATE,
         USER_ID,
         PARTNER_ID,
         JOINER_CONDITION
         )
   VALUES (
         #{joinerId},
         sysdate,
         #{userId},
         #{partnerId},
         #{joinerCondition}
      )
</insert>
<delete id="deleteJoiner" parameterType="int">
   DELETE FROM JOINERT
        WHERE JOINER_ID = #{value}
</delete>

<update id="acceptJoiner" parameterType="joiner">
	UPDATE JOINERT SET JOINER_CONDITION = 'Y'
				 WHERE JOINER_ID = #{joinerId}
</update>
<update id="cancleJoiner" parameterType="joiner">
	UPDATE JOINERT SET JOINER_CONDITION = 'N'
				 WHERE JOINER_ID = #{joinerId}
</update>
</mapper>