<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">

<select id="getLikeList" resultType="like">
	SELECT  LIKE_NO,
			LIKE_CATEGORY,
			LIKE_BOARDID,
			USER_ID
	  FROM  LIKET
	  ORDER BY LIKE_NO DESC
</select>
<select id="getLike" parameterType="like" resultType="int">
	SELECT  COUNT(*)
	  FROM  LIKET
	 WHERE  LIKE_CATEGORY = #{likeCategory}
			AND LIKE_BOARDID = #{likeBoardid}
			AND USER_ID = #{userId}
<!-- 	SELECT  LIKE_NO,
			LIKE_CATEGORY,
			LIKE_BOARDID,
			USER_ID
	  FROM  LIKET
	 WHERE  LIKE_NO = #{likeNo} -->
</select>

<insert id="insertLike" parameterType="like">
	<selectKey keyProperty="likeNo" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(LIKE_NO),0)+1 FROM LIKET
	</selectKey>
	INSERT INTO LIKET ( LIKE_NO,
						LIKE_CATEGORY,
						LIKE_BOARDID,
						USER_ID )
				VALUES ( #{likeNo},
						 #{likeCategory},
						 #{likeBoardid},
						 #{userId} )
</insert>
<delete id="deleteLike" parameterType="like">
	DELETE  FROM  LIKET
	 		WHERE LIKE_CATEGORY = #{likeCategory}
				  AND LIKE_BOARDID = #{likeBoardid}
				  AND USER_ID = #{userId}
</delete>

<!-- 좋아요 수 증가 -->
<update id="updateTLikeCnt" parameterType="like">
	UPDATE TRAVELBOARDT SET TRAVEL_LIKE = TRAVEL_LIKE + 1
					  WHERE TRAVEL_NO = #{likeBoardid}
</update>
<update id="updatePLikeCnt" parameterType="like">
	UPDATE TRAVEL_PLACET SET PLACE_LIKE = PLACE_LIKE + 1
					   WHERE PLACE_NO = #{likeBoardid}
</update>
<update id="updateILikeCnt" parameterType="like">
	UPDATE ITEMT SET ITEM_LIKE = ITEM_LIKE + 1
			   WHERE ITEM_ID = #{likeBoardid}
</update>
</mapper>