<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

<!-- 여행 페이지 -->
<select id="getMyTravelCount" parameterType="travelBoard" resultType="int">
	SELECT COUNT(*)
	  FROM TRAVELBOARDT
	 WHERE USER_ID = #{userId}
</select>
<select id="getMyTravelList" parameterType="travelBoard" resultType="travelBoard">
SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM ( 
	SELECT  TRAVEL_NO,
			TRAVEL_TITLE,
			TRAVEL_CONTENT,
			TRAVEL_PIC,
			TO_CHAR(TRAVEL_DATE,'YYYY/MM/DD') TRAVEL_DATE,
			TRAVEL_HIT,
			TRAVEL_LIKE,
			USER_ID
	  FROM  TRAVELBOARDT
	  WHERE USER_ID = #{userId}
   ORDER BY TRAVEL_NO DESC
) A ) B WHERE RN BETWEEN #{first} AND #{last}
</select>
<delete id="deleteMyTravelList" parameterType="travelBoard">
	DELETE  FROM TRAVELBOARDT
	<if test="travelNoList != null and travelNoList.length > 0">
		WHERE TRAVEL_NO in
	<foreach collection="travelNoList" item="item"
			open="(" close=")" separator=",">
		#{item}
	</foreach>
	</if>
	<if test="travelNoList == null or not travelNoList.length > 0">
		WHERE TRAVEL_NO = -1
	</if>
</delete>

<!-- 동행 페이지 -->
<select id="getMyPartnerList" parameterType="partner" resultType="partner">
	SELECT  PARTNER_ID,
			PARTNER_TITLE,
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_DATE,
			USER_ID,
			PARTNER_CONDITION
	  FROM  PARTNERT
	  WHERE USER_ID = #{userId}
   ORDER BY PARTNER_DATE DESC
</select>
<select id="getMyJoinerList" parameterType="joiner" resultType="joiner">
	SELECT	JOINER_ID,
			JOINER_DATE,
			J.USER_ID,
			J.PARTNER_ID,
			JOINER_CONDITION
	FROM	JOINERT J, PARTNERT P
	WHERE	J.PARTNER_ID = P.PARTNER_ID
			AND P.USER_ID = #{userId}
   ORDER BY JOINER_DATE DESC
</select>

<!-- 좋아요 페이지 -->
<select id="getMyLikedList" parameterType="user" resultType="user">
</select>
<select id="getMyULikeList" parameterType="user" resultType="user">
</select>

<!-- 상품 페이지 -->
<select id="getMyProductList" parameterType="product" resultType="product">
	SELECT  ITEM_ID,
			ITEM_NAME,
			ITEM_CONTENT,
			SELLER_ID,
			ITEM_ORDERDETAIL,
			ITEM_STAR,
			ITEM_PIC,
			ITEM_DATE,
			ITEM_LIKE
	   FROM ITEMT
	  WHERE SELLER_ID = #{sellerId}
   ORDER BY ITEM_DATE DESC
</select>

<!-- 거래내역 페이지 -->
<select id="getMyOrderList" parameterType="user" resultType="user">
</select>

<!-- 리뷰 페이지 -->
<select id="getMyReviewList" parameterType="user" resultType="user">
</select>
</mapper>