<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partner">
<select id="getPartnerList" resultType="partner">
	SELECT	PARTNER_ID,
			PARTNER_TITLE,    
			PARTNER_CONTENT,  
			PARTNER_HIT, 
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_DATE,    
			USER_ID,    
			TINFO_ID,         
			PARTNER_PAY,      
			PARTNER_CLASS,    
			PARTNER_PERS,   
			TO_CHAR(PARTNER_START, 'MM/DD') PARTNER_START,    
			TO_CHAR(PARTNER_END, 'MM/DD') PARTNER_END,   
			PARTNER_CONDITION
	FROM	PARTNERT  
</select>

<select id="getPartner" parameterType="partner" resultType="partner">
	SELECT	PARTNER_ID,
			PARTNER_TITLE,    
			PARTNER_CONTENT,  
			PARTNER_HIT, 
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_DATE,    
			USER_ID,    
			TINFO_ID,         
			PARTNER_PAY,      
			PARTNER_CLASS,    
			PARTNER_PERS,   
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_START,    
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_END,   
			PARTNER_CONDITION
	FROM	PARTNERT
	WHERE	PARTNER_ID = #{partnerid}
</select>

<insert id="insertPartner" parameterType="partner">
	<selectKey keyProperty="partnerno"	resultType="integer" order="BEFORE">
		SELECT NVL(MAX(PARTNER_ID),0)+1 FROM PARTNERT
	</selectKey>
	INSERT INTO PARTNERT (
			PARTNER_ID,
			PARTNER_TITLE,    
			PARTNER_CONTENT,  
			PARTNER_HIT, 
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_DATE,    
			USER_ID,    
			TINFO_ID,
			PARTNER_PAY,      
			PARTNER_CLASS,    
			PARTNER_PERS,   
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_START,    
			TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_END,   
			PARTNER_CONDITION
			)
	VALUES (
			#{partnerid},
			#{partnertitle},
			#{partnercontent},
			0,
			sysdate,
			#{userid},
			#{tinfoid},
			#{partnerpay},
			#{partnerclass},
			#{partnerperson},
			#{partnerstart},
			#{partnerend},
			#{partnercondition}
		)
</insert>
<update id="updatePartner" parameterType="partner">
	UPDATE PARTNERT SET PARTNER_TITLE	= #{partnertitle},
						PARTNER_CONTENT	= #{partnercontent},
						PARTNER_PAY		= #{partnerpay},
						PARTNER_CLASS	= #{partnerclass},
						PARTNER_PERS	= #{partnerpers},
						TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_START	= #{partnerstart},
						TO_CHAR(PARTNER_DATE, 'MM/DD') PARTNER_END		= #{partnerend},
						PARTNER_CONDITION = #{partnercondition}
				WHERE	PARTNER_ID = #{partner_id}
</update>
<delete id="deletePartner" parameterType="int">
	DELETE	FROM PARTNERT
			WHERE PARTNER_ID = #{partnerid}
</delete>
</mapper> 