<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<select id="getProductList" resultType="product">
		 SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CAHR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		ORDER BY ITEM_ID
	</select>
	

</mapper> 