<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
<select id="getCount" resultType="int">
	SELECT COUNT(*)
	FROM ITEMT
	ORDER BY ITEM_ID DESC
</select>
	<select id="getProductList" resultType="product">
SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
		 SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CHAR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		ORDER BY ITEM_ID DESC
) A ) B WHERE RN BETWEEN #{first} AND #{last}
	</select>
	<select id="getProduct" resultType="product">
		 SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CHAR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		WHERE ITEM_ID = #{itemId}	
	</select>
	<insert id="insertProduct" parameterType="product">
	<selectKey keyProperty="itemId" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(ITEM_ID),0)+1 FROM ITEMT
	</selectKey>
	INSERT INTO ITEMT (
				ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_CONDITION,
				ITEM_PIC
				)
				 VALUES ( #{itemId},
				 		  #{itemName},
				 		  #{itemPrice},
				 		  #{itemEa},
				 		  #{itemContent},
				 		  #{itemMethod},
				 		  #{itemCategory},
				 		  #{sellerId},
				 		  #{itemCondition},
				 		  '구매가능',
				 		  #{itemPic}
				)
	</insert>
	<update id="updateProduct" parameterType="product">
		UPDATE ITEMT SET
		ITEM_NAME  = #{itemName},
		ITEM_PRICE = #{itemPrice},
		ITEM_EA = #{itemEa},
		ITEM_CONTENT = #{itemContent},
		ITEM_METHOD = #{itemMethod},
		ITEM_CATEGORY = #{itemCategory},
		ITEM_ORDERDETAIL = #{itemOrderdetail},
		ITEM_CONDITION = #{itemCondition}
		WHERE ITEM_ID = #{itemId}
	
	</update>
	<delete id="deleteProduct">
		DELETE FROM ITEMT
		WHERE ITEM_ID = #{itemId} 
	
	</delete>
</mapper> 