<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
<select id="getCount" resultType="int">
	SELECT COUNT(*)
	FROM ITEMT
	<where>
		<if	 test="itemCategory != null">
			AND ITEM_CATEGORY LIKE '%' || #{itemCategory} || '%'
		</if>
		<if test="searchCondition != null and searchCondition == 'itemName'">
			AND ITEM_NAME LIKE '%' || #{searchKeyword} || '%'
		</if>	
		<if test="searchCondition != null and searchCondition == 'itemPrice'">
		 	AND ITEM_PRICE LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="itemOrderdetail != null">
		 	AND ITEM_ORDERDETAIL LIKE '%' || #{itemOrderdetail} || '%'
		</if>
		<if test="searchCondition != null and searchCondition == 'itemContent'">
		 	AND ITEM_CONTENT LIKE '%' || #{searchKeyword} || '%'
		</if>
	</where>
	ORDER BY ITEM_ID DESC
</select>
	<select id="getProductList" resultType="product">
SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
		 SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CHAR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		<where>
		<if test="sellerId != null">
		 	AND SELLER_ID LIKE '%' || #{sellerId} || '%'
		</if>
		<if	 test="itemCategory != null">
			AND ITEM_CATEGORY LIKE '%' || #{itemCategory} || '%'
		</if>
		
		<if test="itemOrderdetail != null">
		 	AND ITEM_ORDERDETAIL LIKE '%' || #{itemOrderdetail} || '%'
		</if>
		<if test="searchCondition != null and searchCondition == 'itemContent'">
		 	AND ITEM_CONTENT LIKE '%' || #{searchKeyword} || '%'
		</if>
		<if test="searchCondition != null and searchCondition == 'itemName'">
			AND ITEM_NAME LIKE '%' || #{searchKeyword} || '%'
		</if>	
		<if test="searchCondition != null and searchCondition == 'itemPrice'">
		 	AND ITEM_PRICE LIKE '%' || #{searchKeyword} || '%'
		</if>
		
	</where>
		ORDER BY ITEM_ID DESC
) A ) B WHERE RN BETWEEN #{first} AND #{last}
	</select>

	<select id="getProduct" resultType="product">
		 SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CHAR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		WHERE ITEM_ID = #{itemId}	
	</select>
	<select id="getOrderConditionforDelete" resultType="int">
		select count(*)
		from ORDERT o, ITEMT i
		where o.item_id = i.item_id
			and o.item_id = #{itemId}
			and o.order_condition = '거래완료'
	</select>
	<select id="getProductbySeller" resultType="product">
		SELECT ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_STAR,
				ITEM_PIC,
				TO_CHAR(ITEM_DATE, 'RR/MM/DD') ITEM_DATE,
				ITEM_CONDITION,
				ITEM_LIKE
		FROM ITEMT
		WHERE SELLER_ID = #{sellerId}
		ORDER BY ITEM_DATE DESC
	</select>
	<insert id="insertProduct" parameterType="product">
	<!-- <selectKey keyProperty="itemId" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(ITEM_ID),0)+1 FROM ITEMT
	</selectKey> -->
	INSERT INTO ITEMT (
				ITEM_ID,
				ITEM_NAME,
				ITEM_PRICE,
				ITEM_EA,
				ITEM_CONTENT,
				ITEM_METHOD,
				ITEM_CATEGORY,
				SELLER_ID,
				ITEM_ORDERDETAIL,
				ITEM_CONDITION,
				ITEM_PIC
				)
				 VALUES ( 
				 		seq_item.nextval,
				 		  #{itemName},
				 		  #{itemPrice},
				 		  #{itemEa},
				 		  #{itemContent},
				 		  #{itemMethod},
				 		  #{itemCategory},
				 		  #{sellerId},
				 		  '구매가능',
				 		  #{itemCondition},
				 		  #{itemPic}
				)
	</insert>
	<update id="updateProduct" parameterType="product">
		UPDATE ITEMT SET
		ITEM_NAME  = #{itemName},
		ITEM_PRICE = #{itemPrice},
		ITEM_EA = #{itemEa},
		ITEM_CONTENT = #{itemContent},
		ITEM_METHOD = #{itemMethod},
		ITEM_CATEGORY = #{itemCategory},
		ITEM_ORDERDETAIL = #{itemOrderdetail},
		ITEM_CONDITION = #{itemCondition}
		WHERE ITEM_ID = #{itemId}
	
	</update>
	<delete id="deleteProduct">
		DELETE FROM ITEMT
		WHERE ITEM_ID = #{itemId} 
	
	</delete>
</mapper> 