<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
<select id="getQnaList" resultType="qna">
	SELECT  QNA_ID,
			QNA_TITLE,
			QNA_CONTENT,
			TO_CHAR(QNA_DATE, 'MM/DD') QNA_DATE,
			U.USER_ID,
			USER_NAME,
			QNA_ANSWER
	  FROM  QNAT Q, USERT U
	  WHERE Q.USER_ID = U.USER_ID
	  ORDER BY QNA_ID DESC
</select>
<select id="getQna" parameterType="qna" resultType="qna">
	SELECT  QNA_ID,
			QNA_TITLE,
			QNA_CONTENT,
			TO_CHAR(QNA_DATE, 'MM/DD') QNA_DATE,
			U.USER_ID,
			USER_NAME,
			QNA_ANSWER
	  FROM  QNAT Q, USERT U
	 WHERE  Q.USER_ID = U.USER_ID AND QNA_ID = #{qnaId}
</select>
<insert id="insertQna" parameterType="qna">
	<selectKey keyProperty="qnaId" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(QNA_ID),0)+1 FROM QNAT
	</selectKey>
	INSERT INTO  QNAT ( QNA_ID,
						QNA_TITLE,
						QNA_CONTENT,
						USER_ID )
				VALUES ( #{qnaId},
				 		 #{qnaTitle},
				 		 #{qnaContent},
				 		 #{userId} )
</insert>
<update id="updateQna" parameterType="qna">
	UPDATE QNAT SET QNA_TITLE = #{qnaTitle},
					QNA_CONTENT = #{qnaContent}
			 WHERE  QNA_ID = #{qnaId}
</update>
<delete id="deleteQna" parameterType="int">
	DELETE  FROM  QNAT
			WHERE QNA_ID = #{value}
</delete>
</mapper> 