<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelInfo">

<select id="getTravelInfoList" resultType="travelInfo" >
	SELECT TINFO_ID,
			TINFO_COUNTRY,
			TINFO_STATE,
			TINFO_CITY
	FROM TRAVELINFOT
	WHERE TINFO_COUNTRY LIKE #{tinfoCountry}||'%'
	ORDER BY TINFO_COUNTRY
	
</select>
</mapper>