<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelBoard">
<!-- 전체 조회 -->
<select id="getTravelBoardList" resultType="travelBoard" parameterType="travelBoard">
	SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
	SELECT TRAVEL_NO,
			TRAVEL_PERSON,
			TRAVEL_PAY,
			TRAVEL_SCHE,
			TRAVEL_START,
			TRAVEL_END,
			TRAVEL_TITLE,
			TRAVEL_CONTENT,
			TRAVEL_DATE,
			TRAVEL_HIT,
			TRAVEL_LIKE,
			TINFO_ID,
			USER_ID,
			TRAVEL_WITH,
			TRAVEL_PIC
	FROM TRAVELBOARDT
   	<where>
		<if test="searchTinfo != null">
			tinfo_id = #{searchTinfo}
		</if>
	</where> 
	<choose>
		<when test="sortCol != null and sortCol != ''">
			ORDER BY ${sortCol}
		</when>
		<otherwise>
			ORDER BY TRAVEL_NO DESC
		</otherwise>
	</choose>
			) A ) B WHERE RN BETWEEN #{first} AND #{last}
</select>

<!-- 검색 select -->
<select id="getTravelInfoList" resultType="travelInfo" parameterType="travelInfo">
		SELECT NVL(TINFO_COUNTRY, ' ') TINFO_COUNTRY, 
				NVL(TINFO_STATE, ' ') TINFO_STATE, 
				TINFO_CITY, 
				TINFO_ID,
				TINFO_LOCATION
		FROM TRAVELINFOT
		<if test="searchCheck == 'overseas'">
		 WHERE TINFO_LOCATION = 'overseas'
 				and (TINFO_COUNTRY LIKE '%' ||#{tinfoList}|| '%' 
 			 	 OR TINFO_CITY LIKE '%' ||#{tinfoList}|| '%')
		</if>
		<if test="searchCheck == 'domestic'">
		 WHERE TINFO_LOCATION = 'domestic'
 				and (TINFO_STATE LIKE '%' ||#{tinfoList}|| '%' 
 			 	 OR TINFO_CITY LIKE '%' ||#{tinfoList}|| '%')
		</if>
</select>

<!-- Modal 검색 select -->
<select id="getTravelInfoListModal" resultType="travelInfo" parameterType="travelInfo">
		SELECT NVL(TINFO_COUNTRY, ' ') TINFO_COUNTRY, 
				NVL(TINFO_STATE, ' ') TINFO_STATE, 
				TINFO_CITY, 
				TINFO_ID,
				TINFO_LOCATION
		FROM TRAVELINFOT
		<if test="searchCheckModal == 'overseas'">
		 WHERE TINFO_LOCATION = 'overseas'
 				and (TINFO_COUNTRY LIKE '%' ||#{tinfoListModal}|| '%' 
 			 	 OR TINFO_CITY LIKE '%' ||#{tinfoListModal}|| '%')
		</if>
		<if test="searchCheckModal == 'domestic'">
		 WHERE TINFO_LOCATION = 'domestic'
 				and (TINFO_STATE LIKE '%' ||#{tinfoListModal}|| '%' 
 			 	 OR TINFO_CITY LIKE '%' ||#{tinfoListModal}|| '%')
		</if>
</select>

<!-- 페이징 : 전체 건수 조회 -->
<select id="getCount" resultType="int">
	SELECT COUNT(*)
	FROM TRAVELBOARDT
<where>
		<if test="searchTinfo != null">
			tinfo_id = #{searchTinfo}
		</if>
	</where>  
</select>

<!-- 글 등록(Modal) -->
<insert id="insertTravelBoard" parameterType="travelBoard">
	<selectKey keyProperty="travelNo" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(TRAVEL_NO),0)+1 FROM TRAVELBOARDT
	</selectKey>
		INSERT INTO TRAVELBOARDT(TRAVEL_NO,
								TRAVEL_PERSON,
								TRAVEL_SCHE,
								TRAVEL_START,
								TRAVEL_END,
								TRAVEL_TITLE,
								TRAVEL_DATE,
								TINFO_ID,
								USER_ID,
								TRAVEL_WITH 
								)
		VALUES (#{travelNo}, 
				#{travelPerson},
				#{travelSche}, 
				#{travelStart},
				#{travelEnd},
				#{travelTitle},  
				sysdate, 
				#{selectedTinfoModal},
				#{userId}, 
				#{travelWith} 
				)
</insert>

<!-- 글 수정(getTravelBoardList에서) -->
<update id="updateTravelBoard" parameterType="travelBoard">
	UPDATE TRAVELBOARDT 
	SET TRAVEL_PERSON = #{travelPerson}, 
		TRAVEL_PAY = #{travelPay},
		TRAVEL_SCHE = #{travelSche},
		TRAVEL_START = TO_DATE(#{travelStart}, 'yyyy-mm-dd hh24:mi:ss'),
		TRAVEL_END = TO_DATE(#{travelEnd}, 'yyyy-mm-dd hh24:mi:ss'),
		TRAVEL_TITLE = #{travelTitle},
		TRAVEL_CONTENT = #{travelContent},
		TRAVEL_WITH = #{travelWith}
		<if test="travelPic != null and travelPic != ''">
		,TRAVEL_PIC = #{travelPic}
		</if>
	WHERE TRAVEL_NO = #{travelNo}
</update>

<!-- 글 삭제(getTravelBoardList에서) -->
<delete id="deleteTravelBoard" parameterType="int">
	DELETE FROM TRAVELBOARDT 
	WHERE TRAVEL_NO = #{travelNo}
</delete>

<!-- 선택삭제(마이페이지에서) -->
<delete id="deleteTravelBoardList" parameterType="list">
	DELETE FROM TRAVELBOARDT 
	<if test="seqList != null and seqList.length>0">
	WHERE TRAVEL_NO in
	<foreach collection="TravelNoList" item="item" open="(" close=")" separator=",">
		#{item}
	</foreach>
	</if>
	<if test="TravelNoList == null or not TravelNoList.length>0">
		WHERE TRAVEL_NO = -1
	</if>
</delete>

<select id="getTravelBoard" parameterType="travelBoard" resultType="travelBoard">
	SELECT TRAVEL_NO,
			TRAVEL_PERSON,
			TRAVEL_PAY,
			TRAVEL_SCHE,
			TRAVEL_START,
			TRAVEL_END,
			TRAVEL_TITLE,
			TRAVEL_CONTENT,
			TRAVEL_DATE,
			TRAVEL_HIT,
			TRAVEL_LIKE,
			B.TINFO_ID,
			TINFO_CITY,
			USER_ID,
			TRAVEL_WITH,
			TRAVEL_PIC
	FROM TRAVELBOARDT B, TRAVELINFOT I
	WHERE TRAVEL_NO = #{travelNo}
		  AND B.TINFO_ID = I.TINFO_ID
</select>
<select id="getTravelPlaceList" parameterType="travelPlace" resultType="travelPlace">
SELECT PLACE_NO,
			PLACE_NAME,
			PLACE_ADDRESS,
			PLACE_LIKE,
			PLACE_DATE,
			PLACE_CONTENT,
			P.PLACE_TRAVELBOARDNO,
			PLACE_PIC,
			P.USER_ID,
			PLACE_TITLE,
			PLACE_VISITDATE
	FROM TRAVEL_PLACET P, TRAVELBOARDT B
	WHERE P.PLACE_TRAVELBOARDNO = B.TRAVEL_NO
 		  AND B.TRAVEL_NO = #{travelNo}
	ORDER BY PLACE_NO DESC
</select>

<select id="getBestTravelList" parameterType="travelBoard" resultType="travelBoard">
	SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
			SELECT * FROM(
			SELECT * FROM TRAVELBOARDT
			ORDER BY TRAVEL_LIKE DESC)
			WHERE ROWNUM <![CDATA[<]]>= 120
			) A ) B WHERE RN BETWEEN #{first} AND #{last}
</select>
</mapper> 