<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelBoard">

<select id="getTravelBoardList" resultType="travelBoard" parameterType="travelBoard">
	SELECT TRAVEL_NO,
			TRAVEL_PERSON,
			TRAVEL_PAY,
			TRAVEL_SCHE,
			TRAVEL_START,
			TRAVEL_TITLE,
			TRAVEL_CONTENT,
			TRAVEL_DATE,
			TRAVEL_HIT,
			TRAVEL_LIKE,
			TINFO_ID,
			USER_ID,
			TRAVEL_WITH,
			TRAVEL_PIC
	FROM TRAVELBOARDT
 	<where>
	<choose>
		<when test="searchCondition != null and searchCondition == 'userId'">
			and user_id like '%' || #{searchKeyword} || '%'
		</when>	
		<when test="searchCondition != null and searchCondition == 'tinfoId'">
			and tinfo_id like '%' || #{searchKeyword} || '%'
		</when>	
		<when test="searchCondition != null and searchCondition == 'travelTitle'">
			and travel_title like '%' || #{searchKeyword} || '%'
		</when>
		<when test="searchCondition != null and searchCondition == 'travelContent'">
			and travel_content like '%' || #{searchKeyword} || '%'
		</when>
	</choose>
	</where>
	<choose>
		<when test="sortCol != null and sortCol != ''">
			ORDER BY ${sortCol}
		</when>
		<otherwise>
			ORDER BY TRAVEL_NO DESC
		</otherwise>
	</choose>
</select>

<insert id="insertTravelBoard" parameterType="travelBoard">
	<selectKey keyProperty="travelNo" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(TRAVEL_NO),0)+1 FROM TRAVELBOARDT
	</selectKey>
		INSERT INTO TRAVELBOARDT(TRAVEL_NO,
								TRAVEL_PERSON,
								TRAVEL_SCHE,
								TRAVEL_START,
								TRAVEL_TITLE,
								TRAVEL_DATE,
								TINFO_ID,
								USER_ID,
								TRAVEL_WITH
								)
		VALUES (#{travelNo}, 
				#{travelPerson},
				#{travelSche}, 
				#{travelStart}, 
				#{travelTitle},  
				sysdate, 
				#{tinfoId}, 
				#{userId}, 
				#{travelWith}
				)
</insert>

<update id="updateTravelBoard" parameterType="travelBoard">
	UPDATE TRAVELBOARDT 
	SET TRAVEL_PERSON = #{travelPerson}, 
		TRAVEL_PAY = #{travelPay},
		TRAVEL_SCHE = #{travelSche},
		TRAVEL_START = TO_DATE(#{travelStart}, 'yyyy-mm-dd hh24:mi:ss'),
		TRAVEL_TITLE = #{travelTitle},
		TRAVEL_CONTENT = #{travelContent},
		TINFO_ID = #{tinfoId},
		TRAVEL_WITH = #{travelWith},
		TRAVEL_PIC = #{travelPic}
	WHERE TRAVEL_NO = #{travelNo}
</update>

<delete id="deleteTravelBoard" parameterType="int">
	DELETE FROM TRAVELBOARDT 
	WHERE TRAVEL_NO = #{travelNo}
</delete>

<delete id="deleteTravelBoardList" parameterType="list">
	DELETE FROM TRAVELBOARDT 
	<if test="seqList != null and seqList.length>0">
	WHERE TRAVEL_NO in
	<foreach collection="TravelNoList" item="item" open="(" close=")" separator=",">
		#{item}
	</foreach>
	</if>
	<if test="TravelNoList == null or not TravelNoList.length>0">
		WHERE TRAVEL_NO = -1
	</if>
</delete>

<select id="getTravelBoard" parameterType="travelBoard" resultType="travelBoard">
	SELECT TRAVEL_NO,
			TRAVEL_PERSON,
			TRAVEL_PAY,
			TRAVEL_SCHE,
			TRAVEL_START,
			TRAVEL_TITLE,
			TRAVEL_CONTENT,
			TRAVEL_DATE,
			TRAVEL_HIT,
			TRAVEL_LIKE,
			TINFO_ID,
			USER_ID,
			TRAVEL_WITH,
			TRAVEL_PIC
	FROM TRAVELBOARDT 
	WHERE TRAVEL_NO = #{travelNo}
</select>
</mapper> 