<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travelPlace">

<!-- 전체 장소 조회 -->
<select id="getTravelPlaceList" resultType="travelPlace">
	SELECT B.* FROM ( SELECT A.*, ROWNUM RN FROM (
	SELECT PLACE_NO,
			PLACE_NAME,
			PLACE_ADDRESS,
			PLACE_LIKE,
			PLACE_DATE,
			PLACE_CONTENT,
			PLACE_TRAVELBOARDNO,
			PLACE_PIC,
			USER_ID,
			PLACE_TITLE,
			PLACE_VISITDATE
	FROM TRAVEL_PLACET
 	<where>
	<choose>
		<when test="searchCondition != null and searchCondition == 'placeTitle'">
			AND PLACE_TITLE LIKE '%' || #{searchKeyword} || '%'
		</when>	
		<when test="searchCondition != null and searchCondition == 'placeName'">
			AND PLACE_NAME LIKE '%' || #{searchKeyword} || '%'
		</when>	
		<when test="searchCondition != null and searchCondition == 'userId'">
			AND USER_ID LIKE '%' || #{searchKeyword} || '%'
		</when>
	</choose>
	</where>
	<choose>
		<when test="sortCol != null and sortCol != ''">
			ORDER BY ${sortCol}
		</when>
		<otherwise>
			ORDER BY PLACE_NO DESC
		</otherwise>
	</choose>
			) A ) B WHERE RN BETWEEN #{first} AND #{last}
</select>

<!-- 여행기 등록시 장소 조회 -->
<select id="selectTravelPlaceList" resultType="travelPlace">
	SELECT PLACE_NO,
			PLACE_NAME,
			PLACE_ADDRESS,
			PLACE_LIKE,
			PLACE_DATE,
			PLACE_CONTENT,
			PLACE_TRAVELBOARDNO,
			PLACE_PIC,
			USER_ID,
			PLACE_TITLE,
			PLACE_VISITDATE
	FROM TRAVEL_PLACET
	WHERE PLACE_TRAVELBOARDNO = ${travelBoard.travelNo}
	ORDER BY PLACE_NO DESC
</select>


<!-- 페이징 : 전체 건수 조회 -->
<select id="getCount" resultType="int">
	SELECT COUNT(*)
	FROM TRAVEL_PLACET
	<where>
		<choose>
			<when test="searchCondition != null and searchCondition == 'placeTitle'">
				AND PLACE_TITLE LIKE '%' || #{searchKeyword} || '%'
			</when>	
			<when test="searchCondition != null and searchCondition == 'placeName'">
				AND PLACE_NAME LIKE '%' || #{searchKeyword} || '%'
			</when>	
			<when test="searchCondition != null and searchCondition == 'userId'">
				AND USER_ID LIKE '%' || #{searchKeyword} || '%'
			</when>
		</choose>
		</where>
		<choose>
			<when test="sortCol != null and sortCol != ''">
				ORDER BY ${sortCol}
			</when>
			<otherwise>
				ORDER BY PLACE_NO DESC
			</otherwise>
		</choose>
</select>

<insert id="insertTravelPlace" parameterType="travelPlace">
	<selectKey keyProperty="placeNo" resultType="integer" order="BEFORE">
		SELECT NVL(MAX(PLACE_NO),0)+1 FROM TRAVEL_PLACET
	</selectKey>
		INSERT INTO TRAVEL_PLACET(PLACE_NO,
									PLACE_NAME,
									PLACE_ADDRESS,
									PLACE_DATE,
									PLACE_CONTENT,
									PLACE_PIC,
									USER_ID,
									PLACE_TITLE,
									PLACE_VISITDATE,
									PLACE_TRAVELBOARDNO)
		VALUES (#{placeNo}, 
				#{placeName}, 
				#{placeAddress}, 
				sysdate, 
				#{placeContent}, 
				#{placePic}, 
				#{userId},
				#{placeTitle},
				#{placeVisitDate},
				#{placeTravelBoardNo})
</insert>

<update id="updateTravelPlace" parameterType="travelPlace">
	UPDATE TRAVEL_PLACET 
	SET PLACE_NAME = #{placeName},
		PLACE_ADDRESS = #{placeAddress},
		PLACE_CONTENT = #{placeContent},
		PLACE_PIC = #{placePic},
		PLACE_TITLE = #{placeTitle},
		PLACE_VISITDATE = TO_DATE(#{placeVisitDate}, 'yyyy-mm-dd hh24:mi:ss'),
	WHERE PLACE_NO = #{placeNo}
</update>

<delete id="deleteTravelPlace" parameterType="int">
	DELETE FROM TRAVEL_PLACET 
	WHERE PLACE_NO = #{placeNo}
</delete>

<delete id="deleteTravelPlaceList" parameterType="list">
	DELETE FROM TRAVEL_PLACET 
	<if test="PlaceNoList != null and PlaceNoList.length>0">
	WHERE PLACE_NO in
	<foreach collection="PlaceNoList" item="item" open="(" close=")" separator=",">
		#{item}
	</foreach>
	</if>
	<if test="PlaceNoList == null or not PlaceNoList.length>0">
		WHERE PLACE_NO = -1
	</if>
</delete>

<select id="getTravelPlace" parameterType="travelPlace" resultType="travelPlace">
	SELECT PLACE_NO,
			PLACE_NAME,
			PLACE_ADDRESS,
			PLACE_LIKE,
			PLACE_DATE,
			PLACE_CONTENT,
			PLACE_TRAVELBOARDNO,
			PLACE_PIC,
			USER_ID,
			PLACE_TITLE
	FROM TRAVEL_PLACET 
	WHERE PLACE_NO = #{placeNo}
</select>
</mapper> 