@charset "UTF-8";

.content-section {
	padding-top: 100px;
		display: inline-block;
}
/* 카테고리 */
.category {
	margin-top: 30px;
	padding-left: 250px;
	display: inline-block;
}

.search-box {
	border:1px solid #e3e3e3;
	width: 250px;
	background: #fff;
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	text-align: center;
	background: #fff none repeat scroll 0 0;
	display: inline-block;
}

.search-title {
    padding: 10px;
    position: relative;
}


/* 목록 */
.list-box {
	float:right;
}

.list-box {
    width: 1100px;
    margin-left: 150px;
}

.content-title {
	padding: 5px;
	background-color: #fff;
}

.content-title h3 a {
	font-family: 'East Sea Dokdo';
	font-size: 35px;
	color: #34495E;
	text-decoration: none;
	transition: 0.5s;
}

.content-title h3 a:hover {
	color: #ff8000;
}

.content-footer {
	background-color: #f9bf3b;
	padding: 10px;
	position: relative;
}

.content-footer span a {
	color: #fff;
	display: block;
	padding: 6px 5px;
	text-decoration: none;
	transition: 0.5s;
}

.content-footer span a:hover {
	color: #F39C12;
}

.list-box>article {
	width: 240px;
	margin-right: 20px;
	margin-top: 30px;
	box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
	display: inline-block;
}

.list-box>article .content-footer>img {
	width: 33px;
	height: 33px;
	border-radius: 100%;
	margin-right: 10px;
	border: 2px solid #fff;
}

.user-ditels {
	width: 250px;
	height: 80px;
	padding-bottom: 20px;
	position: absolute;
	border: solid 2px #fff;
	background-color: #ff8000;
	right: 25px;
	display: none;
	z-index: 1;
}

}
.user-small-img {
	cursor: pointer;
}

.content-footer:hover .user-ditels {
	display: block;
}

.content-footer .user-ditels .user-img {
	width: 74px;
	float: left;
}

.user-full-ditels h3 {
	color: #fff;
	display: block;
	margin: 0px;
	padding-top: 5px;
	padding-right: 28px;
	text-align: right;
}

.user-full-ditels p {
	color: #fff;
	display: block;
	margin: 0px;
	padding-right: 20px;
	padding-top: 5px;
	text-align: right;
}

.social-icon {
	background-color: #fff;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
}

.social-icon>a {
	color: #34495E;
	font-size: 15px;
	text-decoration: none;
	padding: 5px;
}