@charset "UTF-8";

/* 여행기 리스트 */
.content-title {
	padding: 5px;
	margin-top: 0px;
	margin-bottom: -30px;
	background-color: #fff;
}

.content-title h3 a {
	color: #34495E;
	text-decoration: none;
	transition: 0.5s;
}

.content-title h3 a:hover {
	color: #ff8000;
}

.content-footer {
	background-color: #ffffff;
	padding: 0 5px 0 5px;
	position: relative;
}

.content-footer span a {
	color: #ff8000;
	display: inline-block;
	padding: 10px 5px;
	text-decoration: none;
	transition: 0.5s;
}

.content-footer span a:hover {
	color: #F39C12;
}

.content-box {
	font-family: 'East Sea Dokdo';
	width: 21%;
	margin: 30px 10px 0 10px;
	box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
	display: inline-block;
}

.user-ditels {
	width: 120px;
	height: 60px;
	position: absolute;
	background-color: #fff;
	right: 25px;
	display: none;
	z-index: 1;
}

.content-footer .user-info {
	font-size: 25px;
	color: #34495E;
	cursor: pointer;
}

.content-footer span:hover .user-ditels {
	display: block;
}

.content-footer .user-ditels .user-img {
	width: 56px;
	float: left;
	display: block;
}

.social-icon {
	background-color: #fff;
	margin-top: 10px;
	text-align: center;
}

.social-icon>a {
	color: #34495E;
	font-size: 15px;
	text-decoration: none;
	padding: 5px;
}
